<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">Employee Portal&nbsp;<i class="fa fa-users" aria-hidden="true"></i></button>
    <span class="spacer"></span>
    <button mat-button routerLink="/employeeprofile">About&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></button>
    <button mat-button routerLink="/contact">Contact&nbsp;<i class="fa fa-phone" aria-hidden="true"></i></button>
    <button mat-button routerLink="/">Logout&nbsp;<i class="fa fa-power-off" aria-hidden="true"></i></button>
  </mat-toolbar-row>
</mat-toolbar>
