<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="portalcontent">
        <h1>Objective of portal</h1>
        <h2>The main objective of the portal development is to make oneself gain business level
          understanding of the SAP core functional modules and to become full stack techno functional
          consultant.</h2>
      </div>
    </div>
    <div class="col">
        <img src="https://www.excellerateservices.com/images/3dIcons/meet-our-team.png">
    </div>
  </div>
</div>

<div class="portalcontent">
  <div class="row">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Customer </mat-card-title>
        <mat-card-subtitle>
          One stop solution for all customer related details
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The objective of the customer portal is to understand the functionalities of Sales and Distribution
          (SD) and Finance (FI) module. This portal is to be designed for maintaining the data of all the
          customers carrying out business with the organization.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" class="btn" (click)="cportal()">Go to login&nbsp;<i class="fa fa-sign-in"></i></button>
      </mat-card-actions>
    </mat-card>




    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Vendor portal</mat-card-title>
        <mat-card-subtitle>
          One stop solution for all vendor portal related details
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The objective of the vendor portal is to understand the functionalities of Material Management
          (MM) and Finance (FI) module. This portal is to be designed for maintaining the data of all the
          vendors carrying out business with the organization.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" class="btn" (click)="vportal()">Go to login&nbsp;<i class="fa fa-sign-in"></i></button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Employee portal</mat-card-title>
        <mat-card-subtitle>
          One stop solution for all employee related details
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
      The objective of the Employee portal is to understand the functionalities of Human Resource
      (HR) and Finance (FI) module. This portal is to be designed for providing info about the
      organization and employees, getting the pay slip as printable, leave balance and to request
      leave.

        </p>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" class="btn" (click)="eportal()">Go to login&nbsp;<i class="fa fa-sign-in"></i></button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
<app-footerc></app-footerc>
