<div ><!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h3>ANISA'S PORTAL PROJECT</h3>
          <p>
            Here the portal is developed as a part of Kaar technologies internship
            program
          </p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3" />

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h4 class="text-uppercase">Company&nbsp;<i class="fa fa-building-o" aria-hidden="true"></i></h4>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.kaartech.com/about-kaartech/"
                >About Kaar Tech</a
              >
            </li>
            <li>
              <a href="https://www.kaartech.com/clients/">Clients</a>
            </li>
            <li>
              <a href="https://www.kaartech.com/contact-us/">Kaar contact</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h4 class="text-uppercase">SERVICES&nbsp;<i style="font-size:20px" class="fa">&#xf013;</i></h4>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.kaartech.com/s4-hana-digital-transformation/"
                >Digital transformation</a
              >
            </li>
            <li>
              <a href="https://www.kaartech.com/sap-ams/">SAP AMS</a>
            </li>
            <li>
              <a href="https://www.kaartech.com/rise-with-sap/">Rise With SAP</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->


  </footer>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2022 Copyright: Anisa Apsari
    </div>
    <!-- Copyright -->
  <!-- Footer -->
  </div>
