<app-nav> </app-nav>

<div class="row card">
  <div class="myimg"></div>
  <h3>{{ mydata?.ENAME._text }}</h3>
  <div style="margin: 10px 0">
    <p>Employee Id : {{ mydata?.PERNR._text }}</p>
    <p>Joining Data : {{ mydata?.BEGDA._text }}</p>
    <p>Company code : {{ mydata?.BUKRS._text }}</p>
    <p>Plant : {{ mydata?.WERKS._text }}</p>
    <p>Org Unit : {{ mydata?.ORGEH ._text}}</p>
    <p>Position : {{ mydata?.PLANS._text }}</p>
    <p>Street : {{ mydata?.STRAS._text }}</p>
    <p>City : {{ mydata?.ORT01._text}}</p>
    <p>Postal code : {{ mydata?.PSTLZ._text }}</p>
    <p>Country : {{ mydata?.LAND._text }}</p>
    <p>Phone no : {{ mydata?.TELNR._text }}</p>
  </div>
</div>
<div class="dummy"></div>
<app-footerc></app-footerc>
